@if (!autherized) {
<div>
  <div style="display:flex; flex-direction:column; justify-content:center; margin-bottom:5px;">
    <b style="text-align: center; margin-bottom: 5px; font-size: 180%">Indtast admin password</b>
    <br>
    <div style="display: flex; justify-content: space-evenly; margin-top: 20px; align-items: center;">
      <mat-form-field appearance="fill">
        <mat-label>password</mat-label>
        <input matInput [(ngModel)]="password">
      </mat-form-field>
      <button (click)="sendPassword()" mat-flat-button color="primary" style="display:flex; justify-content:end">
        <mat-icon>done</mat-icon>
      </button>
    </div>
  </div>
  <div style="display: flex; justify-content: space-evenly; margin-top: 20px; align-items: center;">
    <button routerLink="/" mat-flat-button color="primary">
      <mat-icon style="margin: 0;">home</mat-icon>
    </button>
  </div>
</div>
}
@if (autherized) {
<div>
  <div style="display:flex; flex-direction:column; justify-content:center; margin-bottom:5px; width: 100%;">
    <b style="text-align: center; margin-bottom: 5px; font-size: 180%">Admin</b>
    <div style="display: flex; justify-content: space-evenly; margin-top: 20px; align-items: center;">
      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select [(value)]="selected">
          <mat-option value="up">Up</mat-option>
          <mat-option value="unavailable">Unavailable</mat-option>
        </mat-select>
      </mat-form-field>
      <button (click)="updateStatus()" mat-flat-button color="primary" style="display:flex; justify-content:end">
        <mat-icon>done</mat-icon>
      </button>
    </div>
    <table mat-table [dataSource]="users" class="container mat-elevation-z8" style="width: 100%;">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef><mat-icon>account_circle</mat-icon> </th>
        <td mat-cell *matCellDef="let element" class="name"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef><mat-icon>touch_app</mat-icon></th>
        <td mat-cell *matCellDef="let element" class="button">
          <button mat-flat-button color="accent" (click)="delete(element)" style="display:flex; justify-content:end">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div style="display: flex; justify-content: space-evenly; margin-top: 20px; align-items: center;">
      <button routerLink="/" mat-flat-button color="primary">
        <mat-icon style="margin: 0;">home</mat-icon>
      </button>
    </div>
  </div>
</div>
}