<div style="display:flex; flex-direction:column; justify-content:center; margin-bottom:5px;">
  <b style="text-align: center; margin-bottom: 5px; font-size: 180%">Sukkeregerns Stregliste</b>
  <img routerLink="/qr" style="display: block; margin-left: auto; margin-right: auto; width: 50%;"
    src="https://storage.googleapis.com/sukkeregernimages/egern.jpg" alt="Sukker egernet">
  <br>
  <b style="text-align: center; margin-bottom: 5px; font-size: 100%">Mobilepay: 9213EU</b>
</div>

<div *ngIf="status !== undefined && status.status === 'up'">
  <table mat-table [dataSource]="usersSorted" matSort (matSortChange)="setSort($event)" class="container mat-elevation-z8" style="width: 100%;">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="name"><mat-icon>account_circle</mat-icon> </th>
      <td mat-cell *matCellDef="let element" class="name"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="lines">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="lines"> <b style="font-size: x-large; cursor: default;">#</b> </th>
      <td mat-cell *matCellDef="let element" class="streger">
        <div *ngIf="!element.editing">
          {{element.lines}}
        </div>
        <div *ngIf="element.editing">
          <input type="text" matInput [(ngModel)]="element.lines">
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> <mat-icon> local_atm</mat-icon> </th>
      <td mat-cell *matCellDef="let element" class="amount">
        <div
          [ngStyle]="{'color': (element.lines >= 40) ? 'red' : 'black', 'font-weight': (element.lines >= 40) ? 'bold' : 'normal'}"
          *ngIf="!element.editing">
          {{element.lines * 5}} kr.
        </div>
        <div *ngIf="element.editing">
          <div style="display:flex;">
            <button mat-mini-fab (click)="increment(element)"
              style="width: 30px; height: 30px; --mdc-fab-container-color: #4CAF50; --mdc-fab-icon-color: #fff; --mat-mdc-fab-color: #fff">
              <mat-icon>add</mat-icon>
            </button>
            <div style="width:5px">
            </div>
            <button mat-mini-fab (click)="decrement(element)" color="warn" style="width:30px; height: 30px">
              <mat-icon>remove</mat-icon>
            </button>
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef><mat-icon>touch_app</mat-icon></th>
      <td mat-cell *matCellDef="let element" class="button">
        <button *ngIf="!element.editing" mat-flat-button color="accent" (click)="toggleEdit(element)"
          style="display:flex; justify-content:end">
          <mat-icon>edit</mat-icon>
        </button>
        <button *ngIf="element.editing" mat-flat-button color="accent" (click)="update(element)"
          style="display:flex; justify-content:end">
          <mat-icon>save</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div style="display: flex; justify-content: space-evenly; margin-top: 20px; align-items: center;">
    <button *ngIf="!creating" (click)="createUser()" mat-flat-button color="primary">
      <mat-icon>add</mat-icon>
      Homie
    </button>
    <mat-form-field *ngIf="creating" appearance="fill">
      <mat-label>Navn</mat-label>
      <input matInput [(ngModel)]="newUser">
    </mat-form-field>
    <button *ngIf="creating" (click)="sendNewUser()" mat-flat-button color="primary"
      style="display:flex; justify-content:end">
      <mat-icon>save</mat-icon>
    </button>
  </div>
</div>

<div *ngIf="status !== undefined && status.status === 'unavailable'">
  <br>
  <br>
  <br>
  <br>
  <h1 style="text-align: center; margin-bottom: 5px; font-size: 150%; color: red;">Streglisten er ikke tilgængelig nu.
  </h1>
</div>